@import "~antd/dist/antd.css";
@import "pages/login.scss";
@import "pages/Desktop.scss";
@import "pages/FormsAndTables.scss";
@import "pages/Home.scss";
@import "pages/Navbar.scss";

body,
html {
  height: 100%;
}

#root {
  background: #e5e8e8;
  height: 100%;
  .container-fluid {
    height: inherit;
    #main-right {
      height: inherit;
      background: linear-gradient(
        0deg,
        #e5e8e8 0vh,
        #e5e8e8 70vh,
        #ea0303 70vh,
        #ea0303 100vh
      );
    }
  }
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ant-cascader-menu {
  height: auto !important;
}

::-webkit-scrollbar {
  width: 7px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  background-color: #ccd1d19a;
}

::-webkit-scrollbar-thumb {
  background: #7f8c8d;
  border-radius: 4px;
  &:hover {
    background: #515a5a;
  }
}
