$border: 1px solid blue;

.prueba {
  border: $border;
}

.desktop-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px !important;
  position: relative;
  background-color: whitesmoke;
}

.header-desktop {
  background-color: #f5f5f53e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 2;
  height: 60px;
}

.menu-desktop {
  height: 100%;
  ul {
    list-style: none;
  }
}

.title-desktop {
  h2 {
    color: white;
    text-shadow: 3px 3px 5px rgb(133, 117, 117);
  }
}

#main-content {
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
}

#main-right {
  height: 100vh;
  overflow-y: hidden;
}

.logout-link {
  color: white;
  &:hover {
    color: white;
  }
}

footer h6 {
  font-size: 0.9rem;
}
