.table {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(17, 17, 26, 0.1);
}
.ant-table-thead > tr > th {
  font-weight: bold !important;
}
.ant-table-expanded-row-fixed {
  width: 100% !important;
}
.site-page-header {
  border: 1px solid rgba(17, 17, 26, 0.1);
  .ant-page-header-heading .ant-page-header-heading-title {
    font-size: 1.6rem;
  }
}
.form {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(17, 17, 26, 0.1);
  .input {
    width: 22%;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .input {
      width: 100% !important;
    }
  }
}

.ant-message {
  svg {
    margin-bottom: 5px;
  }
}

.anticon svg {
  margin-bottom: 5px;
}

.image-detail {
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.description {
  border-radius: 5px;
  padding: 1px;
}

.ant-descriptions {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.empty-box {
  width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ant-input-number-handler-wrap {
  display: none !important;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: #eaeaea;
}

.ant-table-filter-trigger {
  color: rgb(17, 17, 26);
}

.form-user-logged {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: #eaeaea;
}

.amout-clousure {
  color: rgb(56, 56, 172);
  font-weight: bold;
  font-size: 1.5rem;
}
