.link-home {
  width: 30%;
  transition: all 0.3s;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  &:hover {
    color: white;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.title-home {
  font-size: 3rem;
}

.card-statics {
  width: 47%;
  @media (max-width: 1400px) {
    width: 90%;
  }
}

.img-statics {
  width: 5rem;
  height: 5rem;
}
