.general-login {
  justify-content: center;
  align-items: center;
  height: 90vh;
  .login {
    @media (max-width: 992px) {
      width: 85vw;
      flex-direction: column !important;
    }
    .container-login-left {
      #logo_uno {
        overflow: visible;
        stroke: #d3612d;
        stroke-width: 1;
        stroke-linejoin: round;
        stroke-linecap: round;
      }
    }
  }
}

.img-login {
  width: 80%;
}

.login {
  background: #32445c;
  width: 60%;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  h1 {
    color: #ff7f0b;
  }
  .logo-login {
    width: 250px;
  }

  #container-login {
    background: linear-gradient(180deg, #1b2330 0%, rgb(13, 17, 24) 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    h3 {
      color: white;
    }
    .ant-form {
      #UserName {
        background: #ffffff44;
      }
      .ant-input {
        background: transparent;
        color: white;
      }
      .ant-input-password {
        background: #ffffff44;
        color: white;
      }
      .ant-input-password-icon,
      .checkbox {
        color: white;
      }
    }
  }
}
