.fix-navbar {
  background: #32445b;
  position: fixed;
  width: 100%;
  height: 70px;
  bottom: 0px;
}

.link-navbar {
  transition: all 0.2s;
  &:hover {
    border-bottom: 4px solid rgba(237, 34, 54, 1);
  }
}

.item-navbar {
  color: white;
  width: 100px;
  .icon-navbar {
    color: white;
    font-size: 1.5rem;
  }
}

.selected {
  border-bottom: 4px solid rgba(237, 34, 54, 1);
}
